/*Application window*/
.grid-window{
    width: calc(100%);
    height: calc(100%);
    position: relative;
}

/* Dividers*/
.grid-hdiv, .grid-vdiv{
    /*background-color: #ff9103;*/
}
.grid-vdiv{
    width: 100%;
    height: 4px;
    cursor: ns-resize;
    
}
.grid-hdiv{
    height: 100%;
    width: 4px;
    cursor: ew-resize;
}

/*Containers*/
.grid-box{
    margin: 0;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    overflow: hidden;
}
.grid-hcon, .grid-vcon{
    display: flex;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.grid-hcon{
    flex-direction: row;
}
.grid-vcon{
    flex-direction: column;
}

.dock-selector{
    display: flex;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    flex-flow: wrap;
    border-radius: 30px;

    /*border: 1px solid black;
    background: lightgrey;*/
}
.dock-item{
    width: 30px;
    height: 30px;
}
.dock-active{
    width: 28px;
    height: 28px;

    /*border: 1px solid black;
    background-color: cadetblue;*/
}
.dock-active:hover .dock-up, 
.dock-active:hover .dock-down,
.dock-active:hover .dock-left,
.dock-active:hover .dock-right{
    /*background: #333333;*/
}
.dock-up, 
.dock-down, 
.dock-left, 
.dock-right{
    /*background-color: #636363;*/
    position: relative;
}
.dock-up, .dock-down{
    width: 100%;
    height: 30%;
}
.dock-down{
    top: 70%;
}
.dock-left, .dock-right{
    width: 30%;
    height: 100%;
}
.dock-right{
    left: 70%;
}