/*Global things for reseting to fullscreen*/
/*html{
    margin: 0;
    height: 100%;
}*/
/*body{
    margin: 0;
    height: 100%;
    background-color: lightgreen;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}*/


/*Application window*/
.grid-window{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border:1px solid red;
    position: relative;
}

/* Dividers*/
.grid-hdiv, .grid-vdiv{
    background-color: lightgray;
}
.grid-vdiv{
    width: 100%;
    height: 4px;
    cursor: ns-resize;
    
}
.grid-hdiv{
    height: 100%;
    width: 4px;
    cursor: ew-resize;
}

/*Containers*/
.grid-box{
    margin: 0;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    overflow: hidden;
}
.grid-hcon, .grid-vcon{
    display: flex;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    /*position: relative;*/
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.grid-hcon{
    flex-direction: row;
}
.grid-vcon{
    flex-direction: column;
}    