*:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */    
}

body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;


    /*background-color: #262626;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #202020 40%, #000000 90%);*/
}

.background{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;


    /*background: url(IonLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;*/
}

.window-wrapper {
    padding: 8px;
    display: inline-block;
    margin: 0;
    position: absolute;
}

/*.window {
    background-color: white;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px 2px #111111;
}*/

.window-title {
    display: inline-block;
    padding: 3px 0 3px 6px;
    

    /*color: #009F99;*/
}

.window-header {
    cursor: default;


    /*background-color: #1A1A1A;
    color: white;
    border-radius: 1px 1px 0 0;*/
}

.window-body{
    overflow: auto;
    /*-moz-user-select: initial;
    -ms-user-select: initial;
    -webkit-user-select: initial;
    user-select: initial;*/
    cursor: default;
}

.window-control{
    float: right;

    /*font-family: 'Global Monospace';
    font-size: 18px;*/
}

.window-control-exit {
}

.window-control span {
    padding: 3px 0px;
    display: inline-block;
    width: 40px;
    text-align: center;
    /*border-radius: 20px;*/
}

/*.window-control span:hover {
    background-color: #101010;
}*/

/*.window-control .window-control-exit:hover {
    background-color: #DD0000;
}*/

.taskbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 10000;
    overflow-x: auto;


    /*color: white;
    background-color: #161616;*/
}

.taskbar-applet {
    display: inline-block;
}

.taskbar-item, .taskbar-button-text {
    display: inline-block;
    padding: 8.5px;
}

.taskbar-button-text {
    cursor: default;
}

/*.taskbar-button-select {
    background-color: #29292D;
}*/

/*.taskbar-button-text:hover {
    background-color: #313C53;

}*/


table.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;


    /*border: 1px solid black;*/
}

/*.table tr:nth-child(2n) {
    background-color: #babfd1;
}*/

.table thead {
    font-size: 1em;    

    /*background-color: #383e47;
    color: white;*/
}

.table td, th {
    padding: 5px;
}

/*table.table.selectable tr.selectedrow {
    background-color: black;
    color: white;
}*/

table.table.selectable tr td {
    cursor: pointer;
}


span.table-resize{
    width: 2px;
    /*display: inline-block;*/
    height: 26px;
    margin: -1px -5px -1px 0px;
    cursor: ew-resize;
    float:right;


    /*background-color: #23262f;*/
}

.menu-window{
    display: inline-block;
    position: absolute;
    z-index: 10000;
    color: red;
    top: 40px;
    left: 30px;


    /*background-color: white;*/
}

.menu-window ul {
    list-style: none;
    margin: 0px;
    padding: 4px;
    position: absolute;
    display: inline-block;
    

    /*border: 1px solid #00B8C8;
    background-color: #1A1A1A;*/
}

/*.menu-window ul li {
    
}*/
.menu-window ul li a{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    padding: 3px 14px;


   /* color: white;*/
}

/*.menu-window ul li a:hover{
    background-color: #29292D;
}*/

.plot-canvas {    
    position: absolute;
    /*border: 1px solid black;*/
}
.plot-wrapper {
    position: relative;
}

.label-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.bar-controller-wrapper {
    display: flex;
}

.bar-controller-barWrapper1 {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.bar-controller-barWrapper2 {
    flex-grow: 1;    
}

.steeringWheel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {height: 100%;}

.carousel_contentWrapper {
    height: calc(100% - 40px);
}

.carousel_navWrapper {
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.carousel_navWrapper img {
    height: 100%;
    width: auto;
}

.dsb-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dsb-subdiv {
    flex-grow: 1;
}

/*Lists*/
.listitem {
    display: block;
    padding: 2px 0;
}

.listitem:hover {
    background-color: #202020;
}
.small {
    font-size: 0.6em;
}

table.table.selectable tbody tr:hover {
    background-color: #202020;
}