body {
    background-color: #262626;
    font-family: 'Segoe UI', sans-serif;
    /*background: radial-gradient(circle, #202020 40%, #000000 90%);*/
}


.background{
    background: url(/Icons/IonLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;
}

.window {
    /*background-color: white;*/
    /*background-color: #262626;
    color: white;*/
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px 2px #111111;
}

.window-body-wrapper {
    position: relative;
}

.window-body {
    background-color: #2d2d2d;
    color: white;
}

.window-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,180,0.1);
}

.window-title {
    color: #009F99;
}

.window-header {
    background-color: #1A1A1A;
    color: white;
    border-radius: 1px 1px 0 0;
    border-bottom: none;
    border-bottom: 1px solid #1A1A1A;
}

.info-color {
    stroke: white;
}

.window-control{
    font-family: 'Global Monospace';
    font-size: 18px;
}

.window-control span:hover {
    background-color: #101010;
}

.window-control .window-control-exit:hover {
    background-color: #DD0000;
}

.taskbar {
    color: white;
    background-color: #161616;
}

.taskbar-button-select {
    background-color: #29292D;
}

.taskbar-button-text:hover {
    background-color: #313C53;

}
.table {
    color: white;
}

.table tr {
    /*background-color: black;*/
}

.table thead {
    background-color: #111215;
    color: white;
    border: none;
}

.table tr.error {
    background-color: rgb(104, 34, 34);
}

table.table.selectable tr.selectedrow {
    background-color: #202020;
    color: white;
}

table.table.selectable tbody tr:hover {
    background-color: #202020;
}

span.table-resize{
    background-color: #23262f;
}

.menu-window{
    background-color: white;
}

.menu-window ul {
    border: 1px solid #00B8C8;
    background-color: #1A1A1A;
}

.menu-window ul li a{
    color: white;
}

.menu-window ul li a:hover{
    background-color: #29292D;
}

.disabled {
    color: darkgray;
}

/*  Controllers  */

.controller-legend {
    background-color: #00b8c8; 
    color: black;
}

.controller-legend-value {
    background-color: #00b8c8;
}

.silhouette {
    fill: #272727;
    transition: fill 0.3s;
}

.gauge {
    /*  ring and labels  */
    color: darkgray;
    /* needle color */
    border-color: red;
    /*  center  */
    background-color: darkgray;
}

.line-chart {
    /*axes and labels*/
    border-color: white;
    /*grid*/
    color: rgba(100,100,100,0.3);
    /*marking fill*/
    background-color: rgba(0,184,220,0.2);    
}

.line-chart-legend {
    /* background */
    background-color: rgba(25,25,25,0.7);
    /* text */
    color: white;
    /* border */
    border-color: #111;
}

.bar-controller-bar1 {
    background-color: #1d4c19;
}

.bar-controller-bar2 {
    background-color: #1d4c19;
}


/* DataSourceAssignmentController */

.dsaController-navwrapper {
    border-top: solid 1px #555;
}

.dsaController-viewerInfo {
    color: #777;
}

.dsaController-right {
    border-left: 1px solid #202020;
}

/* DataSourceBuildController */

.dsbController-section {
    border-right: 1px solid #202020;
}

    .dsbController-section:last-child {
        border: none;
    }


/* Button */

.comp-button {
    background-color: #444;    
    color: white;
}

.comp-button:hover {
    padding: 1px 3px;
    border: 2px solid #666;
}

.comp-button:active {
    background-color: #3c3c3c;
}

.comp-button-disabled {
    background-color: #3a3a3a;    
    color: #6b6b6b;
}

/* lists */

.comp-expList-clicker:hover {
    background-color: #4a4a4a;
}
.comp-expList-clicker:active {
    background-color: #424242;
}

.comp-expList ul {
    background-color: #202020;
}

.comp-expList-collapsible {
    background-color: #202020;
}


.listitem:hover {
    background-color: #4a4a4a;
}


.comp-listBoxRearr li:hover {
    background-color: #4a4a4a;
}

.comp-listBoxRearr-icon:hover {
    color: #119Ed9;
}

.comp-listBoxRearr-marker {
    background-color: #171717;
}


.comp-tempDataSourceList-item:hover {
    background-color: #4a4a4a;
}