body {
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', sans-serif;
}

.background {
    /*background: none;*/
    background: url(/Icons/IonLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(150%);
}

/*  Window  */

.window {
    
    /*background-color: #262626;
    color: white;*/
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px 2px rgba(17, 17, 17, 0.3);
}

.window-body-wrapper {
    position: relative;
}

.window-body {
    background-color: rgb(245, 245, 245);
    color: #202020;
}

.window-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(160, 164, 184, 0.3);
}

.window-title {
    color: black;
}

.window-header {
    background-color: #119ed9;
    color: black;
    border-radius: 1px 1px 0 0;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.info-color {
    stroke: black;
}

.window-control{
    font-family: 'Global Monospace';
    font-size: 18px;
}

.window-control span:hover {
    background-color: rgba(102, 102, 102, 0.35);
}

.window-control .window-control-exit:hover {
    background-color: rgb(220, 25, 25);
}

/*  Taskbar  */

.taskbar {
    color: white;
    background-color: #161616;
}

.taskbar-button-select {
    background-color: #29292D;
}

.taskbar-button-text:hover {
    background-color: #313C53;

}

/*   Table   */


table.table {
    /*background-color: white;*/
}

.table thead {
    background-color: #d9d9d9;
    color: #3e3e3e;
    border: none;
}

table.table.selectable tr.selectedrow {
    background-color: #dbdbdb;
}

table.table.selectable tbody tr:hover {
    background-color: #dbdbdb;
}

span.table-resize{
    background-color: #23262f;
}

/*  Menu Window  */

.menu-window{
    background-color: white;
}

.menu-window ul {
    border: 1px solid #00B8C8;
    background-color: #1A1A1A;
}

.menu-window ul li a{
    color: white;
}

.menu-window ul li a:hover{
    background-color: #29292D;
}

/*  Controllers  */

.controller-legend {
    background-color: #dbdbdb;
    color: black;
}

.controller-legend-value {
    background-color: #dbdbdb;
}

.silhouette {
    fill: #eaeaea;
    transition: fill 0.3s;
}

.gauge {
    /*  ring and labels  */
    color: #202020;
    /* needle color */
    border-color: red;
    /*  center  */
    background-color: darkgray;
}

.line-chart {
    /*axes and labels*/
    border-color: rgb(60, 60, 60);
    /*grid*/
    color: rgba(100,100,100,0.3);
    /*marking fill*/
    background-color: rgba(0,184,220,0.2);
}

.line-chart-legend {
    /* background */
    background-color: rgba(243, 243, 243, 0.75);
    /* text */
    color: black;
    /* border */
    border-color: #aaa;
}

.bar-controller-bar1 {
    background-color: #5eea52;
}

.bar-controller-bar2 {
    background-color: #5eea52;
}

/* DataSourceAssignmentController */

.dsaController-navwrapper {
    border-top: solid 1px #ccc;
}

.dsaController-viewerInfo {
    color: #777;
}

.dsaController-right {
    border-left: 1px solid #ccc;
}

/* DataSourceBuildController */

.dsbController-section {
    border-right: 1px solid #ccc;
}

    .dsbController-section:last-child {
        border: none;
    }

/* Button */

.comp-button {
    background-color: #dbdbdb;
    color: #202020;
}

.comp-button:hover {
    padding: 1px 3px;
    border: 2px solid darkgray;
}

.comp-button:active {
    background-color: #cacaca;
}

.comp-button-disabled {
    background-color: #dbdbdb;
    color: #9c9c9c;
}

/* lists */

.comp-expList-clicker:hover {
    background-color: #dbdbdb;
}

.comp-expList ul {
    background-color: #e6e6e6;
}

.comp-expList-collapsible {
    background-color: #e6e6e6;
}


.listitem:hover {
    background-color: #eaeaea;
}


.comp-listBoxRearr li:hover {
    background-color: #dbdbdb;
}

.comp-listBoxRearr-icon:hover {
    color: #119Ed9;
}

.comp-listBoxRearr-marker {
    background-color: #bebebe;
}
