*:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    /*background-color: #262626;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #202020 40%, #000000 90%);*/
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.background {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*animation: rotate 120s linear infinite;*/

    -moz-transition: filter 0.3s;
    -o-transition: filter 0.3s;
    -webkit-transition: filter 0.3s;
    transition: filter 0.3s;
    /*background: url(IonLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 75%;*/
}

.window-wrapper {
    padding: 8px;
    display: inline-block;
    margin: 0;
    position: absolute;
}

/*.window {
    background-color: white;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px 2px #111111;
}*/

.window-title {
    display: inline-block;
    padding: 3px 0 3px 6px;
    

    /*color: #009F99;*/
}

.window-header {
    cursor: default;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    /*background-color: #1A1A1A;
    color: white;
    border-radius: 1px 1px 0 0;*/
}

@keyframes minimize {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1,1);
    }
    99% {
        opacity: 0;
        transform: translateY(-150px) scale(0.8,0.8);
    }
    100% {
        opacity: 0;
        display:none;
    }
}
/*animation: minimize 0.3s linear forwards;*/

.window-body {
    overflow: auto;
    /*-moz-user-select: initial;
    -ms-user-select: initial;
    -webkit-user-select: initial;
    user-select: initial;*/
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    cursor: default;
}

.window-control{
    float: right;

    /*font-family: 'Global Monospace';
    font-size: 18px;*/
}

/*.window-control-exit {
}*/

.window-control span {
    padding: 3px 0px;
    display: inline-block;
    width: 40px;
    text-align: center;
    /*border-radius: 20px;*/
}

/*.window-control span:hover {
    background-color: #101010;
}*/

/*.window-control .window-control-exit:hover {
    background-color: #DD0000;
}*/

.taskbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 10000;
    overflow-x: auto;


    /*color: white;
    background-color: #161616;*/
}

.taskbar-applet {
    display: inline-block;
}

.taskbar-item, .taskbar-button-text {
    display: inline-block;
    padding: 8.5px;
}

.taskbar-button-text {
    cursor: default;
}

/*.taskbar-button-select {
    background-color: #29292D;
}*/

/*.taskbar-button-text:hover {
    background-color: #313C53;

}*/


.btn-taskbar {
    padding: 8px;
}

    .btn-taskbar:hover {
        background-color: #313C53;    
    }

    .btn-taskbar:active {
        background-color: #273044;
    }


table.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;


    /*border: 1px solid black;*/
}

/*.table tr:nth-child(2n) {
    background-color: #babfd1;
}*/

.table thead {
    font-size: 1em;    

    /*background-color: #383e47;
    color: white;*/
}

.table td, th {
    padding: 10px;
}

/*table.table.selectable tr.selectedrow {
    background-color: black;
    color: white;
}*/

table.table.selectable tr td {
    cursor: pointer;
}


span.table-resize{
    width: 2px;
    /*display: inline-block;*/
    height: 26px;
    margin: -1px -5px -1px 0px;
    cursor: ew-resize;
    float:right;


    /*background-color: #23262f;*/
}

.menu-window{
    display: inline-block;
    position: absolute;
    z-index: 10000;
    color: red;
    top: 40px;
    left: 30px;


    /*background-color: white;*/
}

.menu-window ul {
    list-style: none;
    margin: 0px;
    padding: 4px;
    position: absolute;
    display: inline-block;
    

    /*border: 1px solid #00B8C8;
    background-color: #1A1A1A;*/
}

/*.menu-window ul li {
    
}*/
.menu-window ul li a{
    width: 150px;
    display: inline-block;
    text-decoration: none;
    padding: 3px 14px;


   /* color: white;*/
}

/*.menu-window ul li a:hover{
    background-color: #29292D;
}*/


/*.plot-wrapper {
    position: relative;
}*/


.controller-legend {
    font-size: 0.7em;
    /*padding: 1px 0;*/
    text-align: center;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.controller-legend-value {
    position: absolute;
    right: 5px;
    padding-left: 5px;
    text-align: right;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.gauge-controller-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.label-controller {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-controller-content {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.bar-controller-content {
    display: flex;
}

.bar-controller-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bar-controller-silhouette {
    margin: auto;
    width: 60%;
    height: 60%;
}

.bar-controller-barWrapper1 {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    flex-basis: 0;
}

.bar-controller-barWrapper2 {
    flex-grow: 1;
    flex-basis: 0;
}

.steeringWheel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {height: 100%;}

.carousel_contentWrapper {
    height: calc(100% - 40px);
}

.carousel_navWrapper {
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.carousel_navWrapper img {
    height: 100%;
    width: auto;
}

/* DataSourceAssignmentController */

.dsaController-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    /*font-weight: lighter;*/
}

.dsaController-contentwrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
}

.dsaController-navwrapper {
    padding: 10px;
}

.dsaController-navelement {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
}

.dsaController-viewerInfo {
    align-self: center;
    margin: auto;
    padding: 3px;
    font-size: 1.2em;
    color: #777;
}

.dsaController-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dsaController-left {
    flex-grow: 1;
    flex-basis: 0;
}
.dsaController-right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dsaController-emptyPage {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DataSourceBuildController */
.dsbController-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
}

.dsbController-section {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


/*Lists*/
.listitem {
    display: block;
    padding: 5px 5px;
}

.listitem:hover {
    cursor: pointer;
}

.comp-button {
    display: inline-block;
    padding: 3px 5px;
    margin: 1px;
    min-width: 70px;
    text-align: center;
    min-height: 23px;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.comp-button:hover {
    padding: 1px 3px;
    border: 2px solid darkgray;
}

.comp-button-disabled {    
    display: inline-block;
    padding: 3px 5px;
    margin: 1px;
    min-width: 70px;
    text-align: center;
    min-height: 23px;    
}


.comp-button span {
    vertical-align: middle;
}
.comp-button-disabled span {
    vertical-align: middle;
}

.comp-listBox {
    vertical-align: top;
    max-height: 200px;
    overflow-y: auto;
    width: 120px;
    background-color: #444;
    margin: 1px;
    color: white;
    padding: 0;
    display: inline-block;
}

    .comp-listBox li {
        padding: 3px;
        list-style: none;
    }

        .comp-listBox li:hover {
            background-color: #222;
        }


.comp-expList-clicker {
    cursor: pointer;
    padding: 7px;
}
.comp-expList-collapsible {
    overflow: hidden;
    /*max-height: 0px;*/
    transition: max-height .2s ease;
}
.comp-expList ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.comp-expList li {
    font-size: .9em;
    margin: 10px 0 10px 15px;
    font-size: .9em;
}

    .comp-expList li:hover {
        color: #119Ed9;
        cursor: pointer;
    }

.comp-listBoxRearr {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comp-listBoxRearr li {
    display: flex;
    padding: 5px;
}

.comp-listBoxRearr-textWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.comp-listBoxRearr-textWrapper span:nth-child(2) {
    font-size: 0.6em;
    padding-left: 15px;
}

.comp-listBoxRearr-icons {
    display: flex;
    align-items: center;
    /*width: 70px;*/
    margin-right: 10px;

}

.comp-listBoxRearr-icon {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-basis: 0;
    width: 12px;
}

.comp-listBoxRearr-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.comp-style {
    width: 90px;
    background-color: #898989;
    color: white;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
}

.comp-style-slider {
    background-color: #444;
    width: 60%;
    height: calc(100%);
    transition: transform 300ms ease;
    text-align: center;
    /*padding-top: 3px;*/
}

.comp-style-slider-active {
    transform: translate(66%);
}

.window-container {
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    left: 0;
}

.comp-canvas {
    position: absolute;
}

.slidingMenu-wrapper {
    position: absolute;
    z-index: 1000;
    top: 40px;
    height: 100%;
    background-color: darkolivegreen;
}


.slidingMenu-touchArea {
    top: 40px;
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}